<h1>Lista de productos</h1>
<div class="container">
    <div class="row">
{{productos.nombre}}
{{#each productos}}
     {{> cards
        productos = productos
    }}
{{/each}}
    </div>

</div>

   
